<nav>
    <a href="/confirmation-success">Confirmation-success</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/document">Document</a>
    <a href="/layout">Layout</a>
    <a href="/login">Login</a>
    <a href="/personal">Personal</a>
    <a href="/preview">Preview</a>
    <a href="/profile">Profile</a>
    <a href="/register">Register</a>
    <a href="/selfie">Selfie</a>
    <a href="/settings">Settings</a>
    <a href="/success">Success</a>
    <a href="/logout">Logout</a>
  </nav>
  